<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sepiroth887.brokeit.notificationmanager"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="net.sepiroth887.brokeit.notificationmanager.NotificationManagerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="net.sepiroth887.brokeit.notificationmanager.NotificationManager"
                 android:label="@string/app_name"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                 android:enabled="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true"
                  android:name="net.sepiroth887.brokeit.notificationmanager.OnBootServiceStart"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
